@{
    ViewData["Title"] = "홈 | R2D ERP";
}

<!-- CSS For Erase Empty Space -->
<style>
    html, body {
        margin: 0;
        padding: 0;
    }
</style>

<!-- Main Container -->
<div class="container-fluid row">
    <!-- Column 1 Navbar(vertical) -->
    <div class="col col-1 bg-dark vh-100">

    </div>
    <!-- Column 2 Contents-->
    <div class="col col-11">

    </div>
</div>