<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ERP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid justify-content-between">
                <a class="navbar-brand text-white fw-bold" href="#">R2D ERP</a>

                @if (User.Identity.IsAuthenticated) {
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Dashboard" asp-action="Index">대쉬보드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Employee" asp-action="Index">인사</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">점포</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">재고</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">재무</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Home" asp-action="SignOut">
                                <button type="submit" class="btn btn-danger">로그아웃</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
