@model AuthViewModel

@{
    ViewData["Title"] = "Sign Up | Maples";
}

<div class="s-wrapper">
    <a class="logo" asp-action="Index" asp-controller="Home">MAPLES</a>
    <p class="sub-logo">캐나다 한인 대표 커뮤니티 가입을 축하합니다.</p>

    <form asp-controller="Auth" asp-action="JoinMember" method="post" style="margin-top: 40px;">
        <div class="input-group">
            <label>이메일</label>
            <input asp-for="Email" type="email" class="inputs" placeholder="이메일을 입력하세요." />
            <span asp-validation-for="Email" style="color: red;"></span>
        </div>

        <div class="input-group" style="margin-top: 20px;">
            <label>비밀번호</label>
            <input asp-for="Password" type="password" id="pw" class="inputs" placeholder="비밀번호를 입력하세요." />
            <span asp-validation-for="Password" style="color: red;"></span>
        </div>

        <div class="input-group" style="margin-top: 20px;">
            <label>닉네임</label>
            <input asp-for="NickName" type="text" class="inputs" placeholder="닉네임을 입력하세요." />
            <span asp-validation-for="NickName" style="color: red;"></span>
        </div>

        <button type="submit" class="btn">회원가입</button>
    </form>

    <a class="btn" asp-controller="Auth" asp-action="SignIn">로그인</a>
</div>