@model Employee.Models.EmployeeViewModel

<div class="container-fluid mt-5">
    <form asp-controller="Employee" asp-action="newEmployee" method="post">
        <p class="fs-3 fw-bold">기본 정보</p>
        <!-- Row 1 -->
        <div class="row">
            <div class="col-2">
                <label asp-for="Employee_Name" class="form-label fw-bold">이름</label>
                <input asp-for="Employee_Name" type="text" class="form-control" />
                <span asp-validation-for="Employee_Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Employee_BirthDate" class="form-label fw-bold">생년월일</label>
                <input asp-for="Employee_BirthDate" type="date" value="@DateTime.Now"  class="form-control" />
                <span asp-validation-for="Employee_BirthDate" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Employee_Phone" class="form-label fw-bold">전화번호</label>
                <input asp-for="Employee_Phone" type="text" class="form-control" />
                <span asp-validation-for="Employee_Phone" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="Employee_Email" class="form-label fw-bold">이메일</label>
                <input asp-for="Employee_Email" type="email" class="form-control" />
                <span asp-validation-for="Employee_Email" class="text-danger"></span>
            </div>
        </div>

        <!-- Address Section -->
        <p class="fs-3 fw-bold mt-4">주소 정보</p>
        <div class="row">
            <div class="col-1">
                <label asp-for="Address_Unit" class="form-label fw-bold">동 / 호수</label>
                <input asp-for="Address_Unit" type="text" class="form-control" />
                <span asp-validation-for="Address_Unit" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="Address_Street" class="form-label fw-bold">도로명 주소</label>
                <input asp-for="Address_Street" type="text" class="form-control" />
                <span asp-validation-for="Address_Street" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Address_City" class="form-label fw-bold">시/군/구</label>
                <input asp-for="Address_City" type="text" class="form-control" />
                <span asp-validation-for="Address_City" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Address_Region" class="form-label fw-bold">시/도</label>
                <input asp-for="Address_Region" type="text" class="form-control" />
                <span asp-validation-for="Address_Region" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Address_PostalCode" class="form-label fw-bold">우편번호</label>
                <input asp-for="Address_PostalCode" type="text" class="form-control" />
                <span asp-validation-for="Address_PostalCode" class="text-danger"></span>
            </div>
        </div>

        <!-- Education Section -->
        <p class="fs-3 fw-bold mt-5">학력</p>
        <div id="education-container">
            <div class="row mt-3">
                <!-- Education Status-->
                <div class="col-2">
                    <label class="form-label fw-bold">상태</label>
                    <select asp-for="Education_Status" class="form-select" aria-label="Default select example">
                        <option selected>졸업여부</option>
                        <option value="1">대학교 졸업</option>
                        <option value="2">대학교 중퇴</option>
                        <option value="3">전문대 졸업</option>
                        <option value="4">전문대 중퇴</option>
                        <option value="5">고등학교 졸업</option>
                        <option value="6">고등학교 중퇴</option>
                        <option value="7">기타</option>
                    </select>
                </div>

                <!-- School name -->
                <div class="col-4">
                    <label class="form-label fw-bold">학교명</label>
                    <input asp-for="Education_School" type="text" class="form-control" />
                </div>

                <!-- Major -->
                <div class="col-3">
                    <label class="form-label fw-bold">전공</label>
                    <input asp-for="Education_Major" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <!-- Experience Section -->
        <p class="fs-3 fw-bold mt-5">경력</p>
        <div id="experience-container">
            <div class="row mt-3">
                <div class="col-1">
                    <label class="form-label fw-bold">시작일</label>
                    <input asp-for="StartDate" type="date" value="@DateTime.Now" class="form-control" />
                </div>
                <div class="col-1">
                    <label class="form-label fw-bold">종료일</label>
                    <input asp-for="EndDate" type="date" value="@DateTime.Now" class="form-control" />
                </div>
                <div class="col-3">
                    <label class="form-label fw-bold">회사명</label>
                    <input asp-for="CompanyName" type="text" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="form-label fw-bold">부서</label>
                    <input asp-for="Department" type="text" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="form-label fw-bold">직급</label>
                    <input asp-for="JobTitle" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <!-- Submit Section -->
        <div class="text-center mt-5">
            <button type="reset" class="btn btn-danger fs-4 fw-bold mt-3 me-5">등록취소</button>
            <button type="submit" class="btn btn-primary fs-4 fw-bold mt-3">직원등록</button>
        </div>
    </form>
</div>
